.App {
  text-align: center;
}

.linkStyle{
  padding: 1%;
}

.formStyle{
  margin: 1%;
}

.profileImages{
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 0 10% 0 10%;
  height: 5%;
}

.profile{
  grid-column: 1;
}

.background{
  grid-column: 2;
  width: 100%;
  height: 100%;
}

.tweetGrid{
  display: grid;
  font-size: 25px;
  grid-template-columns: 1fr 2fr;
  margin: 1% 25% 1% 25%;
  height: 5%;
  width: 50%;
  border: 1px solid blue;
}

.tweetMessage{
  grid-column: 2;
  grid-row: 1;
}

.tweetImage{
  grid-column: 1;
  grid-row: 1;
  width: 25%;
  padding: 5%;
}
.editButton{
  grid-column: 2;
  grid-row: 2;
  width: 25%;
  margin: 5%;
}
