/*basic styling mostly overridden by bootstrap*/
.App {
    text-align: center;
    align-content: center;
    justify-content: center;
}

.linkStyle {
    padding: 1%;
}

.formStyle {
    margin: 1%;
}
/*********************************************************************************************************************/
/*homepage page styling*/

.tweetCardHome{
    margin: 0 15% 0 15%;
}
/*********************************************************************************************************************/
/*profile page styling*/
.profileGrid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-left: 10%;
    margin-right: 10%;
    grid-template-rows: minmax(50px, 200px);
}
.profileForm {
    grid-column: 1;
    grid-row: 2;
}

.profileTweets {
    padding: 0;
    margin: 0;
    grid-column: 2/6;
    grid-row: 2/5;
    width: 100%;
}
/*user image styling*/
.profileImages {
    position: relative;
    grid-column: 3;
    text-align: center;
    height: 100%;
    margin: 1%;
}

.profile {
    height: 100%;
    clip-path: circle(25% at center);
}

/*.background {*/
/*    position: absolute;*/
/*    left: 40%;*/
/*    bottom: 10%;*/
/*    z-index: -1;*/
/*    !*height:100%;*!*/
/*    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);*/
/*}*/
/*********************************************************************************************************************/
/*tweet styling*/
.tweetGrid {
    display: grid;
    font-size: 25px;
    grid-template-columns: 1fr 1fr;
    margin: 1% 15% 1% 15%;
    height: 5%;
    /*width: 50%;*/
    background: rgba(211, 211, 211, 0.5);
    border: 2px solid lightgray;
    border-radius: 5px;
}

.tweetMessage {
    grid-column: 2;
    grid-row: 1;
    padding: 1%;
    font-size: 15px;
}

.tweetImage {
    grid-column: 1;
    grid-row: 1;
    width: 25%;
    padding: 5%;
}

.editButton {
    grid-column: 2;
    grid-row: 2;
    margin: 1%;
    padding: 1%;
    /*text-align: left;*/
    align-content: end;
    /*width: 25%;*/
    /*margin: 5%;*/
}

